<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jessin.practice.spring.cloud.provider.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.jessin.practice.spring.cloud.provider.entity.UserDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, sex, age, note, create_time, last_modified_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="queryUser" parameterType="com.jessin.practice.spring.cloud.provider.bo.UserQueryCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null and name != '' ">
                AND name = #{name}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tb_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.jessin.practice.spring.cloud.provider.entity.UserDO" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user (id, name,
        sex, age, note, create_time,
        last_modified_time)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
        #{sex,jdbcType=TINYINT}, #{age,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{lastModifiedTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.jessin.practice.spring.cloud.provider.entity.UserDO" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="note != null">
                note,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastModifiedTime != null">
                last_modified_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=TINYINT},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="note != null">
                #{note,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedTime != null">
                #{lastModifiedTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByConditionSelective" parameterType="map">
        update tb_user
        <set>
            <if test="changeItem.name != null">
                name = #{changeItem.name,jdbcType=VARCHAR},
            </if>
            <if test="changeItem.sex != null">
                sex = #{changeItem.sex,jdbcType=TINYINT},
            </if>
            <if test="changeItem.age != null">
                age = #{changeItem.age,jdbcType=INTEGER},
            </if>
            <if test="changeItem.note != null">
                note = #{changeItem.note,jdbcType=VARCHAR},
            </if>
            <if test="changeItem.createTime != null">
                create_time = #{changeItem.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="changeItem.lastModifiedTime != null">
                last_modified_time = #{changeItem.lastModifiedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="condition.id != null">
                AND id = #{condition.id}
            </if>
            <if test="condition.name != null and condition.name != '' ">
                AND name = #{condition.name}
            </if>
            <if test="condition.age != null">
                AND age = #{condition.age}
            </if>
        </where>
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jessin.practice.spring.cloud.provider.entity.UserDO">
        update tb_user
        set name = #{name,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=TINYINT},
        age = #{age,jdbcType=INTEGER},
        note = #{note,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>